:root{
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}

body{
    color:var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    padding-right: 1rem;
    background-color: var(--dark-color);
}
footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}
footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
} 
h1,h2,h3,h4,h5,h6{
    color:var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
}


.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% ;
}
.yellow{
    color: rgb(228, 228, 46);
}
.purple{
    color: purple;
}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
.checklist>li>span>i {
    color: orange;
}

code[class*="language-"],
        pre[class*="language-"] {            
            white-space: pre-wrap;            
            word-break: break-all;
            word-wrap: break-word;  
            font-size: 1.5rem;                      
        }